#textdomain wesnoth-Town_of_Arnsreach

##########	Units	##########

#define CHARACTER_STATS_gar
	id=gar
	name=_"Gar"
	type="Gar ToA $ToA.Characters.Gar.Level"
	canrecruit=yes
	num_traits=0
	unrenamable=yes
	[modifications]
		{TRAIT_LOYAL_HERO}
	[/modifications]
#enddef

#define CHARACTER_STATS_mudoc
	name=_"Mudoc"
	id=mudoc
	type="Mudoc ToA $ToA.Characters.Mudoc.Level"
	gender=male
	unrenamable=yes
	num_traits=0
	[modifications]
		{TRAIT_LOYAL_HERO}
	[/modifications]
#enddef

#define CHARACTER_STATS_merissa
	name=_"Sister Merissa"
	id=merissa
	type="Merissa ToA $ToA.Characters.Merissa.Level"
	unrenamable=yes
	gender=female
	num_traits=0
	[modifications]
		{TRAIT_LOYAL_HERO}
	[/modifications]
#enddef

#define CHARACTER_STATS_arnelda
	name=_"Arnelda"
	id=arnelda
	type="Wesfolk Leader ToA"
	gender=female
	unrenamable=yes
	num_traits=0
	[modifications]
		{TRAIT_LOYAL_HERO}
	[/modifications]
#enddef

#define CHARACTER_STATS_sodry
	name=_"Sodry"
	id=sodry
	type="Sodry ToA $ToA.Characters.Sodry.Level"
	gender=male
	unrenamable=yes
	num_traits=0
	[modifications]
		{TRAIT_LOYAL_HERO}
	[/modifications]
#enddef

##########	Upgrades	##########

#define CHARACTER_UPGRADE_gar
	[if]
		[variable]
			name=ToA.Characters.Gar.Sword
			boolean_equals=true
		[/variable]
		[then]
			{TOA_DESPAIR_SWORD gar}
		[/then]
	[/if]
	[lua] 
		code=<< ToA_Upgrade_Character("gar")  >> 
	[/lua]
#enddef

#define CHARACTER_UPGRADE_mudoc
	[lua] 
		code=<< ToA_Upgrade_Character("mudoc")  >> 
	[/lua]
#enddef

#define CHARACTER_UPGRADE_merissa
	[lua] 
		code=<< ToA_Upgrade_Character("merissa")  >> 
	[/lua]
#enddef

#define CHARACTER_UPGRADE_sodry
	[lua] 
		code=<< ToA_Upgrade_Character("sodry")  >> 
	[/lua]
#enddef

##########	Spawn Character	##########
#define HERO_CHARACTER SIDE TYPE X Y FACING
    [unit]
        {CHARACTER_STATS_{TYPE}}
		side={SIDE}
		facing={FACING}
        x={X}
        y={Y}
    [/unit]
	{CHARACTER_UPGRADE_{TYPE}}
#enddef

#define NAMED_CHARACTER SIDE TYPE X Y FACING
    [unit]
        {CHARACTER_STATS_{TYPE}}
		side={SIDE}
		facing={FACING}
        x={X}
        y={Y}
    [/unit]
#enddef
