#textdomain wesnoth-Town_of_Arnsreach

[unit_type]
    id=Gar ToA 1
    name= _ "Gar"
    race=human
	gender=male
	ignore_race_traits=yes
    image="data/add-ons/Town_of_Arnsreach_Resources_1/images/units/nobleman.png"
    profile="portraits/humans/fencer.png"
	{TOA_DIFFICULTY_QUANTITY hitpoints 80 50 40 30 20}
    movement_type=elusivefoot
    movement=7
    experience=150
    level=0
    alignment=lawful
    advances_to=null
    cost=10
    usage=fighter
    description= _ "When the 'Ill times' first started Kvasten did not cooperate with the local mage lord, Gars parents where made an example out of. Despite this, Gar was a talkative and happy child, who grew up with his grandfather; a respected village elder named Eskil."
    die_sound={SOUND_LIST:HUMAN_DIE}
    
    {DEFENSE_ANIM "data/add-ons/Town_of_Arnsreach_Resources_1/images/units/nobleman-defend.png" "data/add-ons/Town_of_Arnsreach_Resources_1/images/units/nobleman-attack-1.png" {SOUND_LIST:HUMAN_HIT} }
    
	[resistance]
		blade=100
		pierce=100
		impact=100
		fire=100
		cold=100
		arcane=90
	[/resistance]
    
    [attack]
        name=dagger
        #textdomain wesnoth-units
        description= _ "dagger"
        #textdomain wesnoth-dl0e
        icon=attacks/dagger-human.png
        type=blade
		{TOA_DIFFICULTY_QUANTITY damage 8 5 4 3 2}
        number=3
        range=melee
		[specials]
			{WEAPON_SPECIAL_FLANK}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-250
        [frame]
            image="data/add-ons/Town_of_Arnsreach_Resources_1/images/units/nobleman-attack-[1,2,1].png:[100,200,100]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Gar ToA 2
    name= _ "Gar"
    race=human
	gender=male
	ignore_race_traits=yes
    image="units/human-loyalists/sergeant.png"
    profile="portraits/humans/swordsman-2.png"
	{TOA_DIFFICULTY_QUANTITY hitpoints 80 50 40 30 20}
    movement_type=elusivefoot
    movement=7
    experience=150
    level=0
    alignment=lawful
    advances_to=null
    cost=10
    usage=fighter
    description= _ "When the conflict first started the village did not cooperate with the local mage lord, Gars parents where made an example out of. Despite this, Gar was a talkative and happy child, who grew up with his grandfather; a respected village elder."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/human-loyalists/sergeant-defend-2.png" "units/human-loyalists/sergeant-defend-1.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/human-loyalists/sergeant-crossbow-defend.png" "units/human-loyalists/sergeant-crossbow.png" {SOUND_LIST:HUMAN_HIT} ranged}
	[resistance]
		blade=50
		pierce=72
		impact=66
		fire=80
		cold=86
		arcane=90
	[/resistance]
	[attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        {TOA_DIFFICULTY_QUANTITY damage 10 6 5 4 3}
        number=3
		[specials]
			{WEAPON_SPECIAL_FLANK}
        [/specials]
    [/attack]
	[attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/human-loyalists/sergeant-attack-sword-[1~4].png:[75,150,100,75]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/human-loyalists/sergeant.png:25"
        [/frame]
    [/attack_anim]
[/unit_type]
