#textdomain wesnoth-units
[unit_type]
    id=Village_Elder
    name= _ "Village Elder"
    race=human
    gender=male
    image="data/add-ons/Town_of_Arnsreach_Resources_1/images/units/noble.png"
    profile="data/add-ons/Town_of_Arnsreach_Resources_1/images/portraits/elder.png"
    hitpoints=30
    movement_type=smallfoot
    movement=6
	ignore_race_traits=yes
	num_traits=2
	{TRAIT_SLOW}
	{TRAIT_AGED}
    experience=190
    level=0
    alignment=lawful
    advances_to=null
    cost=8
    usage=fighter
    description= _ "Gars grandpa."
    die_sound={SOUND_LIST:HUMAN_DIE}
	[attack]
        name=pitchfork
        description=_"pitchfork"
        type=pierce
        range=melee
        damage=5
        number=2
        icon=attacks/pitchfork.png
    [/attack]
    [attack]
        name=pitchfork
        description=_"pitchfork"
        type=pierce
        range=ranged
        damage=4
        number=1
        icon=attacks/pitchfork.png
    [/attack]
[/unit_type]
